/* Genralt */
* {
    margin: 0;
    padding: 0;
}

.banner__billede {
    max-width: 100%;
}

.artikel__billede {
    max-width: 100%;
}

.container {
    display: grid;
    background: black;
    grid-template-areas:
        "sidehoved"
        "artikel"
        "anders"
        "maj"
        "bjrn"
        "sidefod";
}

/* Artikel */
.indhold {
    grid-area: artikel;
    text-align: center;
}

.andersinfo {
    grid-area: anders;
    text-align: center;
    background: black;
    color: white;
    padding: 20px;
}

.majinfo {
    grid-area: maj;
    text-align: center;
    padding: 20px;
    background: #636363;
    color: white;
}

.bjrninfo {
    grid-area: bjrn;
    text-align: center;
    background: black;
    color: white;
    padding: 20px
    
}

.infooverskrift {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 50px;
font-family: 'Changa One', cursive;
 color: #a42222;
    letter-spacing: 4px;
     
    
}

@font-face {
    src: url(fonts/Helvetica.ttf);
    font-family: Helvetica;

}

.infotekst {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: -5px;
    font-size: 20px;
    font-family: Helvetica;
}





/* Footer */
.sidefod {
    grid-area: sidefod;
    background: #636363;
    text-align: center;
    padding: 20px;
    font-size: 23px; 
    font-family: Helvetica;
    
}


/* iconer */

.icons {
    font-size: 50px;
    color: black;
  
}

.iconer {
        color: black;
    }


/* Knapper */

.btn {
    
    color: black;
    padding:0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    font-size: 25px;
    font-family: Helvetica;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(#a43535, #a42222);
    
}
    






/* burger nav */


a {
  color: black;
}

header {
    grid-area: sidehoved;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 100px;
  width: 100%;
  box-sizing: border-box;
  background: black;
}

.hjem {
    color: white;
}

header .logo {

  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
    font-family: 'Changa One', cursive;
    
    
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
  position: relative;
}

header nav ul li.sub-menu:before {
  content: '\f078';
  font-family: fontAwesome;
  position: absolute;
  line-height: 50px;
  color: #fff;
  right: 1px;
}

header nav ul li.active.sub-menu:before {
  content: '\f077';
}

header nav ul li ul {
  position: absolute;
  left: 0;
  background: #333;
  display: none
}

header nav ul li.active ul {
  /* use li: hover instead */
  display: block;
}

header nav ul li ul li {
  display: block;
  width: 200px;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover {
  color: #fff;
  background: grey;
}

header nav ul li a.active {
  background: grey;
}

.menu-toggle {
  color: white;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none
}

@media (max-width: 650px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    /* use display none or left:-100% to hide the nav  */
    /* display: none; */
    position: absolute;
    top: 50px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 0.9px solid rgba(0, 0, 0, .2);
  }
  header nav ul li.active ul {
    position: relative;
    background: black;
  }
  header nav ul li ul li {
    width: 100%;
  }
}

.menutekst {
    font-family: Helvetica;
    font-size: 1.1rem;
}














/*MEDIA QUERIES*/

/*Tablet and above*/
@media only screen and (min-width: 650px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "sidehoved"
        "artikel"
        "anders"
        "maj"
        "bjrn"
        "sidefod";

}
    
    .banner__billede {
        
    } 

/*Laptop and above*/
@media only screen and (min-width: 1024px) {
    
     
    
    
     .container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "sidehoved"
        "artikel"
        "anders"
        "maj"
        "bjrn"
        "sidefod";
            
    }
    .andersinfo {
        display: grid;
        text-align: center;
        padding-right: 140px;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "banneranders overskrift"
            "banneranders infotekst "
        
    }
    
    .box__e {
        grid-area: overskrift;
        
    }
    
    .box__f {
        grid-area:
            banneranders;
            
    }
    
    .box__g {
        
        grid-area: infotekst;
    }
    
    
     .majinfo {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
         text-align: center;
         padding-left: 140px;
        grid-template-areas:
            "overskrift banneranders"
            "infotekst banneranders"
        
    }
    
    .box__a {
        grid-area: 
        overskrift;
        
    }
    
    .box__b {
        grid-area:
            banneranders;
            
    }
    
    .box__c {
        
        grid-area: infotekst;
        color: white;
    }
    
    
    .bjrninfo {
      display: grid;
        text-align: center;
        padding-right: 140px;
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas:
            "banneranders overskrift"
            "banneranders infotekst "
        
    }
    
    .box__h {
        grid-area: 
        overskrift;
        
    }
    
    .box__j {
        grid-area:
            banneranders;
            
    }
    
    .box__k {
        
        grid-area: infotekst;
    }
        
    }
    
     .sidefod {
         font-size: 30px;
      display: grid;
         text-align: left;
         padding-left: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "tekst icons"
    
 
    }
    .icons {
        text-align:right;
        grid-area: icons;
            
        
    }
    
    
    }
    .footertekst {
        grid-area: tekst;
    }
    



}